.appTile {
  position: relative;
  font-size: var(--type-large);
  line-height: 1.3em;
  display: block;
}
@media (min-width: 481px) {
  .appTile {
    width: 100%;
    overflow: hidden;
    padding-bottom: 144%;
  }
}
@media (max-width: 480px) {
  .appTile.small {
    width: 70vw;
    scroll-snap-align: start;
    padding-left: var(--margin);
    flex-shrink: 0;
  }
}
.appTile.large {
  padding-bottom: 0;
  overflow: hidden;
}
@media (hover: hover) {
  .appTile:hover .appTileHover {
    opacity: 1;
  }
}
@media (max-width: 480px) {
  .appTile.soon {
    display: none;
  }
}
.appTileContent {
  color: #fff;
  background: #000;
  border-radius: var(--border-radius);
}
@media (max-width: 480px) {
  .small .appTileContent {
    height: 90vw;
    position: relative;
  }
}
@media (min-width: 481px) {
  .small .appTileContent {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.large .appTileContent {
  position: relative;
  width: 100%;
  height: 100%;
}
.appTileHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
@media (max-width: 480px) {
  .appTileHeader {
    padding: var(--margin);
  }
}
@media (min-width: 481px) {
  .appTileHeader {
    padding: var(--margin-large);
  }
}
.appTileHeader.align-right {
  justify-content: flex-end;
}
.soon .appTileHeader {
  opacity: 0.3;
}
.appTile h2,
.appTile h3 {
  font-size: inherit;
}
.appTileBackground {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 0;
}
.soon .appTileBackground {
  opacity: 0.3;
  filter: blur(30px);
}
.appTileName {
  text-align: right;
}
.appTileOldName {
  opacity: 1%;
  text-decoration: line-through;
  line-height: 1;
}
.appTileSoon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  padding: var(--margin);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  font-size: var(--type-default);
}
.appTileHover {
  z-index: 1;
  line-height: 1.3em;
}
@media (max-width: 480px) {
  .appTileHover {
    width: 100%;
    white-space: normal;
    font-size: var(--type-small);
    padding: 15px 5px 0 var(--large-spacing);
  }
}
@media (min-width: 481px) {
  .appTileHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: var(--margin-large);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
    border-radius: var(--border-radius);
  }
}
@media (min-width: 481px) and (hover: hover) {
  .appTileHover {
    opacity: 0;
    transition: opacity 0.4s;
    background: rgba(0, 0, 0, 0.7);
  }
}
@media (min-width: 481px) and (hover: none) {
  .appTileHover {
    background: rgba(0, 0, 0, 0.6);
  }
}
.icon {
  height: auto;
}
@media (max-width: 480px) {
  .icon {
    width: 25px;
  }
}
@media (min-width: 481px) and (max-width: 868px) {
  .icon {
    width: 30px;
  }
}
@media (min-width: 869px) {
  .icon {
    width: 40px;
  }
}
